@media screen and (max-width: 970px) {
    .desktop_nav{
        display: none;
    }
    .hamburger_nav{
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .index-carousel-btn {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .index-carousel-btn.index-left {
        left: 20px;
    }

    .index-carousel-btn.index-right {
        right: 20px;
    }

    .index-cinematic-text {
        bottom: 15%;
    }

    .index-word {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .index-carousel-btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .index-carousel-btn.index-left {
        left: 15px;
    }

    .index-carousel-btn.index-right {
        right: 15px;
    }

    .index-cinematic-text {
        bottom: 10%;
    }

    .index-word {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .index-carousel-btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .index-carousel-btn.index-left {
        left: 10px;
    }

    .index-carousel-btn.index-right {
        right: 10px;
    }

    .index-cinematic-text {
        bottom: 5%;
    }

    .index-word {
        font-size: 2.5rem;
    }
}

