@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;700;900&display=swap");
html{
  scrollbar-color: #ffd700 black;
}
:root{
  font-size: 16px;
}

{
  border: 1px solid red;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(16, 16, 16);
  background-image: url("/assets/controller-svgrepo-com.svg");
  background-size: 25px; /* Adjust size of each image */
}

/* for navbar (desktop and hamburger) */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header li, a{
  text-decoration: none;
}

.logo{
  display: flex;
}

.logo p{
  font-weight: 900;
  font-size: 28px;
  padding: 5px;
  color: white;
}

.logo .focus{
  color: #ffd700; 
}

header a{
  font-size: 20px;
}

.focus{
  color: #ffd700; 
}

.desktop_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  position: fixed;
  width: 100%;
  padding: 10px 10%;
  color:white;
  background-color: rgb(0, 0, 0);
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  border-bottom: 3px solid white;

}

.desktop_nav, .burger_links{
  list-style: none;
}

.desktop_nav li{
  display: inline-block;
  padding: 0px 10px;
}

.desktop_nav li a{
  transition: all 0.3s ease 0s;
  color: white;  
  font-size: 16px;  
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
}

.desktop_nav li a:hover{
  transition: all 0.3s ease 0s;
  color: black;
  background-color: #ffd700;
  border-radius: 10px;
}

.desktop_nav .active a{
  transition: all 0.3s ease 0s;
  color: black;
  background-color: #ffd700;
  border-radius: 10px;
}

.hamburger_nav {
  display: none; 
  justify-content: space-between;
  align-items: center;
  top: 0px;
  padding: 10px 10%;
  position: fixed;
  width: 100%;
  background-color: black;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  border-bottom: 3px solid #ffd700;
}


.hamburger-icon svg{
  cursor: pointer;
  stroke: white;
}

.hamburger-icon svg:hover{
  transform: scale(1.25);
  cursor: pointer;
  stroke: white;
}
.close_icon{
  width: 10px;
}
.close_icon svg{
  cursor: pointer;
  stroke: black;
  background-color: #ffd700;
  border-radius: 100px;
}

.close_icon svg:hover{
  cursor: pointer;
  stroke: #ffd700;
  background-color: black;
  border: 1px solid #ffd700;
}

.burger_links {
  position: fixed;
  top: 0;
  right: -300px; 
  height: 110vh; 
  width: 300px; 
  background-color: black;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  transition: right 0.3s ease;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
}

.burger_links.show {
  right: 0;
}
.link-grp{
  width: 100%
}
.burger_links a {
  display: block;
  text-align: center;
  padding: 16px;
  width: 100%;
  color: #ffd700;
  font-weight: 700;
  font-size: 16px;

}

.burger_links a:hover {
  color: black;
  background-color: #ffd700; 
}
.hamburger-icon svg {
  display: flex;
  justify-self: start;;
}
.hamburger-icon svg {
  cursor: pointer;
  width: 100%;
}

.burger_links svg {
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
  margin-bottom: 20px;
}

.close_icon{
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* end for navbar (desktop and hamburger) */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  border-top: 3px solid white;
  height: 4rem;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 9999;
  font-weight: 700;
}


