@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;700;900&display=swap");


*{
 // border: 1px red solid;
}


:root{
  font-size: 16px;
}


body {
  font-family: Inter, sans-serif;
  background-color: #121212;
  background-image: url('/assets/controller-svgrepo-com.svg');
  background-repeat: repeat;
  background-size: 25px; /* Adjust size of each image */
}

/* for navbar (desktop and hamburger) */
header *{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 0.1s ease;
}

header li, a{
  text-decoration: none;
}

.logo{
  display: flex;
}

.logo p{
  font-weight: 900;
  font-size: 28px;
  padding: 5px;
}

header a{
  font-size: 20px;
}

.focus{
  color: #ffd700; 
}

.desktop_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 30px 10%;
  color:white;
  background-color: rgb(0, 0, 0);
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: relative;
}

.desktop_nav, .burger_links{
  list-style: none;
}

.desktop_nav li{
  display: inline-block;
  padding: 0px 10px;
}

.desktop_nav li a{
  transition: all 0.3s ease 0s;
  color: white;    
  font-weight: 700;
  padding: 10px 15px;
}

.desktop_nav li a:hover{
  transition: all 0.3s ease 0s;
  color: black;
  background-color: #ffd700;
  border-radius: 10px;
}

.hamburger_nav {
  display: none; 
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  padding: 30px 10%;
  background-color: black;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}


.hamburger-icon svg{
  cursor: pointer;
  stroke: white;
}

.hamburger-icon svg:hover{
  transform: scale(1.25);
  cursor: pointer;
  stroke: white;
}

.close_icon svg{
  cursor: pointer;
  stroke: white;
}

.close_icon svg:hover{
  cursor: pointer;
  stroke: black;
  border-radius: 100px;
  background-color: white;
}

.burger_links {
  position: fixed;
  top: 0;
  right: -300px; 
  height: 110vh; 
  width: 300px; 
  background-color: black;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  transition: right 0.3s ease;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
}

.burger_links.show {
  right: 0;
}

.burger_links a {
  text-align: center;
  padding: 16px;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;

}

.burger_links a:hover {
  color: black;
  background-color: white; 
}

.hamburger-icon svg {
  cursor: pointer;
  width: 100%;
}

.burger_links svg {
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
  margin-bottom: 20px;
}

.close_icon{
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* end for navbar (desktop and hamburger) */



/* Game Cards with pop up card */
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0px auto;

}
.container {
  position: relative;
  margin: 30px;
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  
}
.card {
  width: 28.125rem;
  aspect-ratio: 16 / 9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.card img,
.card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.card video {
  opacity: 0;
}

.container:hover .banner {
  opacity: 0;
}

.container:hover video {
  opacity: 1;
}

.rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffd700; /* Gold color for stars */
  font-size: 16px;
  background-color: black;
}

.container:hover .rating {
  opacity: 0; /* Stars fade out with the image */
  transition: opacity 0.5s ease;
}

.rating i {
  padding: 0px 2px;
}

.popup-card {
  position: absolute;
  top: 0;
  left: 440px;
  width: 250px;
  height: auto;
  background-color: rgb(10, 10, 10);
  color: #fff;
  border-radius: 8px;
  display:none;
  padding: 20px;
  z-index: 9999;
  font-size: 12px;
}


.game-details * {
  margin: 0px;
}
.game-details h2 {
  color: rgba(225, 215, 0, 1);
  font-size: 18px;
  margin-bottom: 3px;
}

.game-details h3 {
  font-size: 10px;
}

.game-desc {
  margin-top: 10px;
}

.game-desc p {
  text-align: justify;
}
.platforms {
  margin-top: 10px;
}

.platforms h2{
  color: #ffd700;
  margin-bottom:  0px
}

.platform-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px 20px;
  border-radius: 5px;
}

.platforms img {
  width: 1.5rem;
}

.tags-container {
  margin-top: 10px;
}

.tags-container h2 {
  margin-bottom: 10px;
  color: #ffd700
}

.tags-container li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
  background-color: #ffd700;
  color: black;
  border-radius: 5px;
  padding: 3px 10px;
}

/* end of game cards with popup */


footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  height: 5rem;
  border-top: 1px white solid;
}