@media screen and (max-width: 1025px) {
    .container{
        flex-direction: column !important;
        align-items: center;
    }
    .left-column{
        width: 100% !important;
        flex-direction: column !important;
        align-items: center;
    }
    .right-column{
        width: 70% !important;
    }
}

@media screen and (max-width: 850px) {
    .faq-container {
        width:80% !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 750px !important;

    }
}

@media screen and (max-width: 640px) {
    .faq-container {
        width: 450px !important;
    }

    .left-column h1{
        font-size: 35px !important;
    }
    .left-column h2{
        font-size: 30px !important;
    }
    .left-column p{
        font-size: 14px !important;
    }

    .image-container{
        width:450px !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 550px !important;

    }
}

@media screen and (max-width: 500px) {
    .faq-container {
        width: 400px !important;
    }

    .left-column p{
        font-size: 14px !important;
        width: 100%;
    }

    .image-container{
        width:400px !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 500px !important;

    }
    .right-column{
        width: 80% !important;
    }
    footer p{
        font-size: 10px !important;
    }
}

@media screen and (max-width: 440px) {
    .faq-container {
        width: 350px !important;
    }

    .left-column p{
        font-size: 14px !important;
        width: 100%;
    }

    .image-container{
        width:350px !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 400px !important;

    }
    .right-column{
        width: 80% !important;
    }
    .author i {
        font-size: 0.75rem !important;
    }
    
    .author-name {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 375px) {
    .faq-container {
        width: 300px !important;
    }

    .left-column p{
        font-size: 14px !important;
        width: 100%;
    }

    .image-container{
        width:300px !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 400px !important;

    }
    .right-column{
        width: 80% !important;
    }
}

@media screen and (max-width: 350px) {
    .faq-container {
        width: 250px !important;
    }

    .left-column p{
        font-size: 12px !important;
        width: 100%;
    }

    .image-container{
        width:250px !important;
    }

    .trailer {
        margin: 20px 0px !important;
         width: 300px !important;

    }
    .right-column{
        width: 80% !important;
    }
}

@media screen and (max-width: 1300px) {
    .main-carousel {
        display: none !important;
    }
}
